{
	"EXPORTORG": {
		"API_KEY": "...",
		"REGISTRY_API_BASEPATH": "http(s)://{swaggerhub.domain}{/v1}/",
		"ORG": "SwaggerHub Org Name"
	},
	"IMPORTORG":{
		"API_KEY": "..." ,
		"REGISTRY_API_BASEPATH": "http(s)://{swaggerhub.domain}{/v1}/",
		"ORG": "SwaggerHub Org Name",
		"DEFAULT_PRIVATE_VISIBILITY": true
	}
}
